<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.classic.android.core">

    <application>
        <activity
            android:name="com.classic.android.permissions.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent"/>
    </application>
</manifest>
